@page "/dentistas/crear"
@using ClinicaDental.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navegar

<h3>Registro</h3>
<EditForm Model="@losDentistas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col">
    <div class="row">
        <div class="col">
            <InputText class="form-control" @bind-Value="losDentistas.NombreDentista"></InputText>
            <ValidationMessage For="()=>losDentistas.NombreDentista" />
        </div>
        <div class="row">
            <button type="submit" class="btn-danger mb-3">Guardar</button>
        </div>
    </div>
        </div>
</EditForm>

@code {
    private Dentistas losDentistas = new Dentistas();

    private async Task Guardar()
    {
        await Http.PostAsJsonAsync("/api/nombredentistas", losDentistas);
        Navegar.NavigateTo("/dentistas");
    }
}
