@page "/"

        <div id="titulo">
            <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:33px; text-align:center;">CLINICA DENTAL VILLALPANDO</h3>
            <center>
                <img src="diente.png" width="111" height="111">
            </center>
        </div>
        <div>
            <p style="font-family: 'Segoe UI'; font-size:19px ; text-align:center;">
                <br>Bienvenido al programa de conteo y almacen de servicios de la clinica.<br>
                Para empezar a usar el programa vaya a la barra de navegación del lado izquierdo de la pantalla:
            </p>
        </div>
        <div>
            <p style="margin-top: 44px; display: block; font-family: 'Segoe UI';">
                Para acceder al almacen de los datos acceda a la pestaña de Tablas:
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </div>

        <div style="margin-top:22px;">
            <p style="display: block; font-family: 'Segoe UI';">
                Para hacer un registro nuevo acceda al apartado de
                Registro:
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </div>

    @code {

    }
